html {
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 29, 29);
    font-size: 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
    color: #fff;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
/* ------------- */

.header{
    padding: 20px 0;
    height: 10%;
    width: 100%;
}
.btnMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    margin-top: 10px;
    z-index: 10;
    background-color: transparent;
    border: none;
    display: none;
}
.btnMenu span{
    display: block;
}
.btnMenu__lineTop, .btnMenu__lineCenter, .btnMenu__lineBottom {
    width: 30px;
    height: 3px;
    transition: all 0.3s;
    background-color: #82c91e;
    border-radius: 20px;
}
.btnMenu__lineCenter, .btnMenu__lineBottom {
    margin-top: 5px;
    width: 22px;
}
.btnMenu__lineBottom {
    width: 17px;
}
.menu__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__main{
    display: flex;
    justify-content: space-evenly;
}
.menu__subitem{
    margin-left: 10px;
}
.logo{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
.menu__link{
    font-weight: bold;
    font-size: 15px;
}

/* offer */
.offer__btn{
    margin-top: 40px;
    border: none;
    padding:15px;
    width: 50px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
    white-space:nowrap;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.offer__btn:hover{
    width: 150px;
    transition:0.5s;
}

.btnMenu:hover .btnMenu__lineBottom, .btnMenu:hover .btnMenu__lineCenter {
    width: 30px;
    transition: all 0.3s;
}
.fa-paper-plane{
    margin-left: 5px;
}
.offer__photo{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 300px;
}
.forBtn {
    margin-top: 10%;
    height: 35px;
    display: inline-block;
    width: 130px;
}
.btn-scroll {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    display: flex;
    align-items:center;
}
.fa-chevron-down {
    color: #3f51b5;
    left: 97px;
    top: 5px;
    transition: all 0.3s;
    margin-left: 10px;
    width: 14px;
}
.forBtn:hover .fa-chevron-down{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.offer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20%;
}
.offer__title{
    font-size: 32px;
}
.offer__span{
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.5px;
    display: block;
}
.offer__text{
    margin-top: 30px;
}
/* about-me */
.aboot-me{
    padding-top:100px;
    margin-bottom: 100px;
}

.about__title{
    text-align: center;
    font-size: 30px;
}
.about__block{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    align-items: center;
}
.about__left{
    width:40%
}
.fa-laptop-code{
    font-size: 170px;
    color: #3f51b5;
}
.about__right{
    display: block;
    width: 50%;
    font-size: 20px;
}
.fa-laptop-code{
    width: 300px;
}

.skills__blocks{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* skills */
.skills__block{
    width: 300px;
    height: 250px;
    border: 1px solid #3f51b5;
    padding:20px;
    border-radius: 10px;
    font-size: 55px;
    color:#3f51b5;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
}
.skills__block span {
    display: block;
}
.icon-skiils{
    width: 100px;
}
/* end skills */

/* aducation */

.aducation__block{
    display: flex;
    font-weight: bold;
    width: 300px;
    height: 40px;
    border-bottom: 3px solid #3f51b5;
    justify-content: space-between;
    margin-bottom: 50px;

}
.aducation__blocks{
    margin-top: 50px;
}
/* contact */

.contact__link{
    font-size: 18px;
    color: #fff;
}
.contacts__block span{
    display: block;
}
.contacts__block{
    padding:20px 0;
}
/* end contact */